.cafe__cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;

  padding: 0.5rem 1.5rem;
}

.cafe__cartItem_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  margin-bottom: 0.5rem;
}

.cafe__cartItem_content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgb(42, 41, 41);
}

.cafe__cartItem_order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}

.cafe__cartItem_order-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cafe__cartItem_order-count div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.cafe__cartItem_order-count p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgb(42, 41, 41);

  margin: 0 0.5rem;
}

