@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&family=Ysabeau+SC:wght@1..1000&display=swap");

:root {
  --font-family: 'Tagesschrift', sans-serif;

  --gradient-text: linear-gradient(90deg, #fbeed4e7 1%, #FFC078C7 100%);
  --gradient-text-dark: linear-gradient(90deg, #653C0C 0%, #957947 100%);
  --gradient-bar: linear-gradient(90deg, rgba(148, 114, 76, 0.856) 0%, rgba(101, 60, 12, 0.78) 100%);
  --gradient-img: linear-gradient(90deg, #033B0AD4 0%, #46A43ED6 100%);

  --color-bg: rgba(236, 207, 160, 1);
  --color-btn: #653C0C;
  /* --color-b: #653b0ca1; */
  --color-bar: #653b0c;
}