.cafe__gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;
}

.cafe__gallery-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-width: 500px;
  padding-right: 2rem;
  padding-left: 6rem;
}

.cafe__gallery-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;

  margin-bottom: 2rem;
}

.cafe__gallery-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
}

.cafe__gallery-content button {
  background: var(--color-btn);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  outline: none;

  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease;

  margin-top: 2rem;
}

.cafe__gallery-content button:hover {
  box-shadow: 0 0 5px var(--color-btn);
}

.cafe__gallery-content button:active {
  transform: scale(0.94)
}

.cafe__gallery-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  position: relative;
}

.cafe__gallery-images_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 0.5rem;
  /* border: solid; */
}

.cafe__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.cafe__gallery-images_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 447px;
  margin: 0 0.5rem;
}

.cafe__gallery-card_container {
  position: absolute;
  display: inline-block;
  border-radius: 20px;
}

.cafe__gallery-card_container img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* opacity: 1; */
  transition: .5s ease;
  border-radius: 20px;
  border: solid #957947;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.normal-bg {
  opacity: 1;
}

.blur-bg {
  opacity: .35;
}

.gallery__image-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #000;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  transition: .5s ease;

  backdrop-filter: sepia(50%);
  border-radius: 50px;
}

.hide-note {
  opacity: 0;
}

.show-note {
  opacity: 1;
}

.cafe__gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  position: absolute;
  bottom: 1%;
}

.gallery__arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;

  border-radius: 50%;
  border: solid;
}

@media screen and (min-width: 2000px) {
  .cafe__gallery-content button {
    margin-top: 2rem;
  }

  .cafe__gallery-content {
    min-width: 1000px;
    padding-right: 4rem;
  }

  .cafe__gallery-images_card {
    min-width: 400px;
    height: 547px;
  }
}

@media screen and (max-width: 1150px) {
  .cafe__gallery {
    flex-direction: column;
    padding-left: 0;
  }

  .cafe__gallery-images {
    max-width: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 950px) {
  .cafe__gallery-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .cafe__gallery-content p {
    font-size: 20px;
    line-height: 25px;
  }

  .cafe__gallery-content button {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 850px) {
  .cafe__gallery-content {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .cafe__gallery-content {
    padding-left: 1rem;
  }

  .cafe__gallery-content {
    min-width: 100%;
  }

  .cafe__gallery-images_card {
    min-width: 240px;
    height: 320px;
  }

  .gallery__image-note {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .cafe__gallery-content h1 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 1rem;
  }

  .cafe__gallery-content p {
    font-size: 18px;
    line-height: 24px;
  }

  .cafe__gallery-content button {
    font-size: 16px;
    line-height: 22px;

    padding: 0.5rem 1rem;
  }

  .gallery__image-note {
    font-size: 14px;
    line-height: 20px;
  }
}